span.char.success{
  color:#D1D0C5;
}
span.char.error{
  color:#7E2A33;
}
.text-body{
  padding:1em;
  color:#646669;
  font-size:2em;
}
.title{
  color:#646669;
  padding-top:1em;
  padding-left:1em;
  margin-top:0.3em;
}
.txt-input{
  opacity:0;
  z-index:-999;
  position:absolute;
}
span.active{
border-left: 2px solid #E2B714;
}
